.login-main {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 45%;
}

.input-style {
    width: 210px;
    padding: 15px;
    border: 2px solid #119a4f;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button-style {
    width: 95px;
    padding: 7px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 6px;
    background-color: #26496a;
    cursor: pointer;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 8px;
    transition-duration: 0.8s;
    font-family: 'Jua', sans-serif;
    text-transform: uppercase;
}

.button-style:hover {
    transition-duration: 0.8s;
    background-color: #fff;
    color: #26496a;
    width: 120px;
    letter-spacing: 3px;
}