.progress-section {
    margin-top: 50px;
}

.progress-section p {
    margin: 15px 0px;
}

.barCompleted {
    background-color: #314D67;
    height: 20px;
    width: 60%;
    transition: width 1s ease-in-out 0s;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-status a {
    margin-right: 1px;
    border-right: 1px solid;
    padding-right: 10px;
    border-color: #fff;
    color: #25496b;
    font-weight: 600;
    text-decoration: none;
    margin-top: 16px;
}

.user-status button {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Jua';
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 16px;
}
.user-status button:hover {
    color: #25496b;
}