.match--main {
    width: 100%;
}

.user-status-match {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #277251f7!important;
    padding-bottom: 14px;
    margin-bottom: 40px;
}

.progress-section {
    margin-top: 35px;
    padding: 0px 50px;
}

.progress-section p {
    margin: 15px 0px;
}

.barCompleted {
    background-color: #314D67;
    height: 20px;
    width: 60%;
    transition: width 1s ease-in-out 0s;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.user-status-match a {
    margin-right: 1px;
    border-right: 1px solid;
    padding-right: 10px;
    border-color: #fff;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-top: 16px;
}
.user-status-match a:hover {
    color: #97d595;
}

.user-status-match button {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Jua', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 18px;
}
.user-status-match button:hover {
    color: #97d595;
}

.match-user-style-match {
    font-family: 'Jua', sans-serif;
    color:#25496b;
    text-transform: uppercase;
    letter-spacing: 1px;
}