p {
    margin: 0;
}
.question-main {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-status-login {
    font-family: 'Jua', sans-serif;
    text-transform: uppercase;
}

.input-style {
    width: 235px!important;
    padding: 15px;
    border: 2px solid #119a4f;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-appearance: none;
}


select.input-style {
    background-image:
            linear-gradient(45deg, transparent 50%, #7191ae 50%),
            linear-gradient(135deg, #7191ae 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(1em + 7px),
            calc(100% - 15px) calc(1em + 7px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            0px 2.3em;
    background-repeat: no-repeat;
}

select.input-style:focus {
    background-image:
            linear-gradient(45deg, #77C969 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, #77C969 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 15px) calc(1em + 7px),
            calc(100% - 20px) calc(1em + 7px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            0px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

.buddy-button--style {
    width: 165px;
    padding: 7px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 6px;
    background-color: #26496a;
    cursor: pointer;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 8px;
    transition-duration: 0.8s;
    font-family: 'Jua', sans-serif;
    text-transform: uppercase;
}

.buddy-button--style:hover {
    transition-duration: 0.8s;
    background-color: #fff;
    color: #26496a;
    width: 200px;
    letter-spacing: 3px;
}

.user-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #277251f7;
    padding-bottom: 14px;
    margin-bottom: 15px;
}

.user-status p {
    margin-right: 1px;
    border-right: 1px solid;
    padding-right: 10px;
    border-color: #fff;
    color: #fff;
    margin-top: 16px;
}

.user-status button {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Jua', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 16px;
}

.user-status button:hover {
    color: #97d595;
}