.App {
  text-align: center;
  align-items: center;
  /*justify-content: center;*/
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #77C969 -2.48%, #358E79 86.44%, #294ABE 168.25%);
  height: 100vh;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-link-first-ver {
  font-size: 27px;
  font-family: 'Jua', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 5px;
}

.reglog-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #25496a;
}
